div::after {
  content: " Frontend Simplified";
}

div::before {
  content: "Frontend Simplified ";
}

.hover {
  transition: background-color 200ms;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  animation: float 2s infinite alternate-reverse;
  /* transition: all 300ms; */
  border-radius: 100000000px;
}

button:hover {
  background-color: black;
  color: white;
}

@keyframes float {
  o% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
